body {
  margin: 0;
  font-family: 'Alegreya', sans-serif;
  color: #1e1e1e;
  background-color: #e1e1e1;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #c2afe9;
  text-decoration: none;
  color: #1a1a1a;
  border: 1px solid #a990e0;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #c2afe9;
}

.btn--secondary {
  background-color: #e0e0e0;
  color: #5c5c5c;
  border: 1px solid #8f8f8f;
}
.btn--secondary:hover {
  background-color: white;
}


code {
  background-color: #e0e0e0;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Lato', monospace;
}
/* ---> UTILITIES */

/* Colors */
.color-lavender {
  color: #a990e0;
}
.bg-color-lavender {
  background-color: #a990e0;
}

.color-lavender-2 {
  color: #c2afe9;
}
.bg-color-lavender-2 {
  background-color: #c2afe9;
}

.color-yellow {
  color: #fad775;
}
.bg-color-yellow {
  background-color: #fad775;
}

.color-yellow-2 {
  color: #fbe29d;
}
.bg-color-yellow-2 {
  background-color: #fbe29d;
}

.color-grey {
  color: #1a1a1a;
}
.bg-color-grey {
  background-color: #1a1a1a;
}

.color-grey-2 {
  color: #5c5c5c;
}
.bg-color-grey-2 {
  background-color: #5c5c5c;
}

.color-grey-3 {
  color: #8f8f8f;
}
.bg-color-grey-3 {
  background-color: #8f8f8f;
}

.color-grey-4 {
  color: #e0e0e0;
}
.bg-color-grey-4 {
  background-color: #e0e0e0;
}



/* Own styles, these are only for styling THIS page */

.pattern-content {
  max-width: 800px;
  padding: 16px;
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;
}

.pattern-section {
  margin-bottom: 64px;
}

.pattern-color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.pattern-color:before {
  content: attr(data-color);
  background-color: rgba(0,0,0,0.2);
  display: block;
  color: white;
  text-align: center;
}

.pattern-title {
  border-bottom: 1px solid #e1e1e1;
  opacity: 0.6;
}

[data-header]:before {
  content: attr(data-header) ": ";
}